.bottom_bar {
  width: 100%;
  background-color: #6a6255;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrez horizontalement le contenu de .div_logo1 */
  align-items: center; /* Centrez verticalement le contenu de .div_logo1 */
}

.main_info_div {
  padding-top: 5vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centre horizontalement les éléments */
  align-items: center;
  gap: 1vw;
}

@media(width >= 1200px) {
  .main_info_div {
    width: 70%;
    gap: 1vw;
  }
}

@media(width >= 800px) and (width < 1200px){
  .main_info_div {
    width: 90%;
    gap: 1vw;
  }
}

@media(width < 800px) {
  .main_info_div {
    width: 80%;
    gap: 2vw;
  }
}

.bar_central {
  width: 70%;
  height: 0.15vh;
  background-color: #f7a365;
}

@media(width < 1000px) {
  .bar_central {
    margin-bottom: 2vh;
  }
}

@media(width >= 1000px) {
  .little_infos_below_central_bar {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}

@media(width < 1000px) {
  .little_infos_below_central_bar {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

.local_icon_bottom_bar {
  color: white;
  font-size: 3vh;
  height: 3.5vh;
  width: 3vh;
}

.width_space {
  width: 1vh;
}

.heigth_space {
  height: 5vh;
}

.adresse {
  text-align: center;
  display: flex;
  padding: 10px;
}

@media(width >= 1000px) {
  .text_bottom_bar {
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 2vh;
    line-height: 2vh;
  }
}

@media(width < 1000px) {
  .text_bottom_bar {
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 1.5vh;
    line-height: 2vh;
  }
}


.logo_bottom_div {
  width: 70%;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo_bottom {
  cursor: pointer;
  height: 100%;
}

.box_bottom_bar {
  padding-bottom: 5vh;
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  gap: 0.7vw;
}

.space_heigth {
  height: 40px;
}
