<div class="bottom_bar">
  <div class="main_info_div">
    <div class="width_space"></div>
    <div class="box_bottom_bar">
      <mat-icon class="local_icon_bottom_bar" (click)="naviguate_to_facebook()" style="cursor: pointer">facebook</mat-icon>
      <div class="width_space" (click)="naviguate_to_facebook()" style="cursor: pointer"></div>
      <p class="text_bottom_bar" (click)="naviguate_to_facebook()" style="cursor: pointer">Facebook</p>
    </div>
    <div class="width_space"></div>
    <div class="box_bottom_bar">
      <mat-icon class="local_icon_bottom_bar">phone</mat-icon>
      <div class="width_space"></div>
      <p class="text_bottom_bar">03 88 92 15 48</p>
    </div>
    <div class="width_space"></div>
    <div class="box_bottom_bar">
      <mat-icon class="local_icon_bottom_bar">mail</mat-icon>
      <div class="width_space"></div>
      <p class="text_bottom_bar">chaussures.carl@outlook.fr</p>
    </div>
    <div class="box_bottom_bar">
      <mat-icon class="local_icon_bottom_bar" (click)="naviguate_to_mention_legale()" style="cursor: pointer">edit</mat-icon>
      <div class="width_space" (click)="naviguate_to_mention_legale()" style="cursor: pointer"></div>
      <p class="text_bottom_bar" (click)="naviguate_to_mention_legale()" style="cursor: pointer">Mentions légales</p>
    </div>
  </div>
  <div class="bar_central"></div>
  <div class="little_infos_below_central_bar">
    <div class="adresse">
      <p class="text_bottom_bar">Magasin de chaussures</p>
    </div>
    <div class="adresse">
      <mat-icon class="local_icon_bottom_bar">place</mat-icon>
      <div class="width_space"></div>
      <p class="text_bottom_bar">5 route d'Ebersheim 67750 Scherwiller</p>
    </div>
  </div>
  <div class="logo_bottom_div">
    <img src="assets/img/logo1.jpg" alt="logo" class="logo_bottom" (click)="naviguate_to_accueil()">
  </div>
  <div class="space_heigth"></div>
</div>
