<div class="title">
  <h3>Mentions légales</h3>
</div>
<div class="mention_legale">
  <div class="box_theme">
    <h1>Editeurs du site :</h1>
    <p class="text">Site internet Chaussures Carl édité par Chaussures Carl<br>
      http://www.chaussures-carl.fr<br>
      SAS au capital de 6000 €<br>
      79A rue de la plaine des bouchers<br>
      67100 Strasbourg<br>
      Enregistrée au RCS de Nancy sous le numéro 920 990 017<br>
      Numéro de TVA intracommunautaire : FR44 920 990 017</p>
    <h2>Représentants légaux :</h2>
    <p>Rémy Carl</p>
  </div>
  <div class="box_theme">
    <h1>Contact</h1>
    <p class="text">Siège social :<br>
      79A rue de la plaine des bouchers, 67100 Strasbourg, France<br>
      Joignable au +33 (0)6 88 51 00 84<br>
      Par courriel : contact@ormaes.fr<br>
      Directeurs de la publication : Eric JOLIN, Laurent BURGER, Bertrand VERMANDE<br>
      Conditions générales d’utilisation<br>
      Le site internet est accessible par les adresses suivantes :<br>
      www.ormaes.fr<br>
      Il est exploité dans le respect de la législation française. L’utilisation de ce site <br>
      est régie par les présentes conditions générales d’utilisation. En utilisant le site,<br>
      vous reconnaissez avoir pris connaissance de ces conditions et les avoir acceptées.<br>
      Elles pourront être modifiées à tout moment et sans préavis. Ormaes SAS ne saurait<br>
      être tenu pour responsable d’une mauvaise utilisation du service.</p>
  </div>
  <div class="box_theme">
    <h1>Hebergeur du site</h1>
    <p class="text">OVH<br>
      Siège social : 2 rue Kellermann - 59100 Roubaix - France.<br>
      OVH SAS est une filiale de la société OVH Groupe SA,<br>
      société immatriculée au RCS de Lille sousle numéro<br>
      537 407 926 sise 2, rue Kellermann, 59100 Roubaix.</p>
  </div>
</div>
