<div class="mention_legale">
  <p>Les mentions légales sont les informations qui permettent à l'internaute de vous identifier. Les mentions légales sont obligatoires sur tout site internet professionnel et doivent être facilement accessibles.</p>
  <p>les mentions légales doivent obligatoirement préciser :

    le nom de l’entrepreneur ou la dénomination de la société ;
    l’adresse du siège social ;
    le montant du capital social et la forme sociale, si le propriétaire du site est une société ;
    le numéro de téléphone et l’adresse mail de l’entreprise ;
    le nom du directeur et du codirecteur de la publication et celui du responsable de la rédaction s'il en existe ;
    le nom, dénomination ou raison sociale et adresse et numéro de téléphone de l'hébergeur de son site.</p>
</div>
