<div class="top_box">
  <p class="text_top_accueil_titre">L’originalité, la convivialité, la qualité</p>
  <p class="text_top_accueil_content">Spécialiste de vente en détail de Chaussures</p>
</div>
<div class="main_accueil_div">
  <div class="first_div">
    <img src="assets/img/img2.jpg" alt="photo1" class="photo1">
    <div class="space"></div>
    <img src="assets/img/img1.jpg" alt="photo1" class="photo1">
    <div class="space"></div>
    <img src="assets/img/img3.jpg" alt="photo1" class="photo1">
  </div>
  <div class="first_div">
    <img src="assets/img/img4.jpg" alt="photo1" class="photo1">
    <div class="space"></div>
    <img src="assets/img/img5.jpg" alt="photo1" class="photo1">
    <div class="space"></div>
    <img src="assets/img/img6.jpg" alt="photo1" class="photo1">
  </div>
</div>
