<div class="container_pop_up" *ngIf="displayPopUp">
  <div class="la_pop_up">
    <div class="div_icon_close">
      <mat-icon class="close_icon" (click)="close_pop_up()">close</mat-icon>
    </div>
    <div class="intern_div">
      <div class="side_panel_left">
        <img src="assets/img/intérieur_fake_square.jpg" alt="image" class="img_class">
      </div>
      <div class="side_panel_right">
        <h1 class="titre_pop_up">Solde d'hiver !</h1>
        <p class="texte_pop_up">Enveloppez-vous de chaleur cet hiver avec nos soldes exclusives ! Des réductions incroyables sur une sélection de produits tendance vous attendent. Ne manquez pas l'opportunité de donner une touche de style à votre hiver tout en économisant.</p>
      </div>
    </div>
  </div>
</div>
