@import "./nav_bar_scss_subdivision";

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%); /* Commence à 100% à gauche de l'écran */
  }
  100% {
    transform: translateX(0); /* Se termine à la position originale (0) */
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(0); /* Commence à 100% à gauche de l'écran */
  }
  100% {
    transform: translateX(-100%); /* Se termine à la position originale (0) */
  }
}

.big_div_nav_bar {
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);;
  z-index: 1000;
  position: fixed;
  display: flex;
  justify-content: space-between; /* Centrez horizontalement le contenu de .div_logo1 */
  align-items: center; /* Centrez verticalement le contenu de .div_logo1 */
  flex-direction: row;
}

.nav_bar {
  animation: slideInFromLeft 0.2s ease;
  animation-fill-mode: forwards;
  width: 30vw;  // 30vw pour plus de 1000px
  height: 100%;
}

.nav_bar_little {
  animation: slideInFromLeft 0.2s ease;
  animation-fill-mode: forwards;
  width: 100%;
  height: 100%;
}


.other {
  width: 60%;
  height: 100%;
}

.up_nav_bar {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center; /* Centrez horizontalement le contenu de .div_logo1 */
  align-items: center; /* Centrez verticalement le contenu de .div_logo1 */
  flex-direction: row;
  background-color: #6a6255;
}

.middle_nav_bar {
  width: 100%;
  height: 60%;
  background-color: #6a6255;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3vh;
}

.bottom_nav_bar {
  width: 100%;
  height: 20%;
  background-color: #9a765c;
 // justify-content: center; /* Centrez horizontalement le contenu de .div_logo1 */
  align-items: center; /* Centrez verticalement le contenu de .div_logo1 */
  flex-direction: column;
}

.bottom_div1 {
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom_div2 {
  width: 100%;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
