
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Carl-primary: mat.define-palette(mat.$indigo-palette);
$Carl-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Carl-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Carl-theme: mat.define-light-theme((
  color: (
    primary: $Carl-primary,
    accent: $Carl-accent,
    warn: $Carl-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Carl-theme);

@import "font-awesome/css/font-awesome.css";

body {
  overflow-x: auto;
  overflow-y: auto;
  margin: 0;
  font-family: roboto, "Helvetica Neue", sans-serif;
}

body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #6a6255; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #f7a365; /* color of the scroll thumb */
  border-radius: 40px; /* roundness of the scroll thumb */
 // border: 3px solid #f7a365; /* creates padding around scroll thumb */
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
